<div>
  <div class="spacer py-5"></div>
  <h1>Upcoming Angular Events</h1>
  <hr>
  <app-event-thumbnail *ngFor='let event of events' [event]='event' (eventFromChild)="handleEventFromChild($event)" ></app-event-thumbnail>
</div>

<!--
~~~ PROPERTY BINDING
  * So basically, with [] we are telling Angular that we'll pass paramter form this component
  * to Event-Thumbnails component (which will be named there as "event").
  * [name] must match with object name in the child component that expects param (Thumbnail)

~~~ EVENT BINDING
  <app-event-thumbnail (eventFromChild)="handleEventFromChild($event)"></app-event-thumbnail>

  * "eventFromChild" must match @Output "eventFromChild" property in a child component!
  * So the event is fired on our thumbnail(child), call function handleEventFromChild from this (parent)
  * component. $event is the parameter that child has given us. If we want more params, we should
  * wrap them into an object.

~~~ TEMPLATE REFERENCE VAIRABLES
  <app-event-thumbnail #thumbnail [event]="eventObj"></app-event-thumbnail>
  <h3>{{ thumbnail.someProperty }}</h3>
  <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log foo</button>

  * Declared with # as prefix
  * Useful to call methods/props on a child component or to bind data in a child
  * So that #variable points to a component, and then we can access any public methods/props
  * of that component using #variable.

~~~ STRUCTURAL DIRECTIVES
  * Ones starting with * (asterisk) 
  * Change the shape of the DOM (add/remove html elems)
-->
