<div>
  <div class="spacer py-5"></div>
  <h1 class="pb-3">Upcoming Angular Events</h1>
  <app-event-thumbnail #thumbnail *ngFor='let event of events' [eventP]='event' (eventFromChild)="handleEventFromChild($event)"></app-event-thumbnail>
</div>

<!--
~~~ PROPERTY BINDING
  * So basically, with [] we are telling Angular that we'll pass paramter from this component (parent)
  * to Event-Thumbnails component (child component, which will be named there as "eventP" - "P" as "from parent").
  * [name] must match with object name in the child (Thumbnail) that expects param -> @Input eventP: any;

~~~ EVENT BINDING
  <app-event-thumbnail (eventFromChild)="handleEventFromChild($event)"></app-event-thumbnail>

  * "eventFromChild" must match @Output "eventFromChild" property in a child component!
  * So the event is fired on our thumbnail(child), call function handleEventFromChild from this (parent)
  * component. $event is the parameter that child has given us. If we want more params, we should
  * wrap them into an object.

~~~ TEMPLATE REFERENCE VARIABLES
  <app-event-thumbnail #thumbnail [eventP]="event"></app-event-thumbnail>
  <h3>{{ thumbnail.someProperty }}</h3>
  <button class="btn btn-primary" (click)="thumbnail.messageFromChild()">Log message</button>

  * Declared with # as prefix
  * Useful to call methods/props on a child component or to bind data in a child
  * So that #variable points to a component, and then we can access any public methods/props
  * of that component using #variable.
  * We can display from a child in a parent too (someProperty)
  * Important: for some reason this won't work when there's click events and *ngFor in the same line

~~~ STRUCTURAL DIRECTIVES
  * Ones starting with * (asterisk) 
  * Change the shape of the DOM (add/remove html elems)
-->
