.pad-left {
  margin-left: 15px;
}

.event-card h5,
.event-card p {
  color: #bbb;
}

.border {
  border: 1px solid #AA6373 !important;
}

.limegreen {
  color: limegreen;
}

.bold {
  font-weight: bold;
}