<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value )" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{ 'error': !validField(profileForm.controls.firstName) }">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
        <!-- required in order to bind html elements to component.ts fields -->
        <em *ngIf="!validField(profileForm.controls.firstName) && profileForm.controls.firstName.errors.required">Required</em>
        <em
          *ngIf="!validField(profileForm.controls.firstName) && profileForm.controls.firstName.errors.pattern">Must
          start with capital letter</em>
      </div>
      <div class="form-group" [ngClass]="{ 'error': !validField(profileForm.controls.lastName) }">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
        <em
          *ngIf="!validField(profileForm.controls.lastName) && profileForm.controls.lastName.errors.required">Required</em>
        <em
          *ngIf="!validField(profileForm.controls.lastName) && profileForm.controls.lastName.errors.pattern">Must
          start with capital letter</em>
      </div>

      <button type="submit" class="btn pink-primary">Save</button>
      <button type="button" (click)="cancel()" class="btn pink-default">Cancel</button>
    </form>
  </div>
</div>