<div class="container">
  <div class="spacer py-5"></div>
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | titlecase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date:'d/M/yyyy' }}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'USD'}}</div>
    </div> 
    <div class="col-md-6">
    <address *ngIf="event?.location">
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-12 col-md-2 mb-5">
      <a (click)="showSessions()" [ngClass]="{'tab-active': !addMode}">Sessions</a>
    </div>

    <div class="col-12 col-md-2 mb-5">
      <a (click)="addSession()" [ngClass]="{'tab-active': addMode}">Add session</a>
    </div>

    <div class="col-12 col-md-7" *ngIf="!addMode">
      <button class="btn pink-default" [class.active]="filterBy === 'all' " (click)="filterBy = 'all'" >All</button>
      <button class="btn pink-default" [class.active]="filterBy === 'beginner'"
        (click)="filterBy = 'beginner'">Beginner</button>
      <button class="btn pink-default" [class.active]="filterBy === 'intermediate'"
        (click)="filterBy = 'intermediate'">Intermediate</button>
      <button class="btn pink-default" [class.active]="filterBy === 'advanced'"
        (click)="filterBy = 'advanced'">Advanced</button>
    </div>
  </div>
  
  <app-session-list [filterBy]="filterBy" *ngIf="!addMode" [sessions]="event?.sessions"></app-session-list>
  <!-- binding event.sessions that came from event service to
      @Input() sessions[] of this component
  -->
  <app-create-session *ngIf="addMode" (cancelAddSession)="cancelAddSession()" (saveNewSession)="saveNewSession($event)"></app-create-session>
</div>