<div class="row mt-3" *ngFor="let session of sessions">
  <div class="col-md-12">
    <app-collapsible-block>
      <div block-title>
        {{ session.name }}
        <i class="fas fa-fire" *ngIf="session.voters.length > 2"></i>
      </div>
      <div block-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </app-collapsible-block>
  </div>
</div>